.enterAnimation{
    animation: enter forwards ease-in-out 0.5s;
}

.exitAnimation{
    animation: exit forwards ease-in-out 0.5s;
}

@keyframes enter {
    0%{
        left: -1000px;
    }
    100%{
        left: 30px;
    }
}

@keyframes exit {
    0%{
        left: 30px;
    }
    100%{
        left: -1000px;
    }
}